$font-header: 'Ubuntu', sans-serif;
$font-text: 'Roboto', sans-serif;
$font-logo: 'Dancing Script', cursive;

$color-one: #b1b493;
$color-two: #4f8a8b;
$color-three: #07031a;

/*global*/
body {
    font-family: $font-text;
    color: $color-one;
    font-size: 18px;
}
h1 {
    text-transform: uppercase;
}

/*intro*/
.intro {
    height: 400px;
    position: relative;
    background-image: url('https://images.pexels.com/photos/57750/pexels-photo-57750.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-position: center center; 
    background-size: cover;
    background-attachment: fixed; 
}
.intro p {
    font-family: $font-logo;
    margin: 0 0;
    color: orange;
}
.intro .container {
    padding: 10px 100px;
    margin: 0 0;
    max-width: 100%;
    background-color: $color-three;
    
    a {
        color: $color-one;
        text-decoration: none;
    }
}